/* src/components/InternalNavbar.css */
.internal-navbar {
    position: fixed;
    /* La fijamos arriba */
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    /* Altura definida */
    background-color: #000;
    display: flex;
    align-items: center;
    z-index: 1000;
    /* Siempre por encima de todo */
    border-bottom: 1px solid #333;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    /* BarbellGirl a la izquierda, Marca a la derecha */
    align-items: center;
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
}

.nav-logo {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-brand-name {
    color: #fff;
    font-size: 1.1rem;
    letter-spacing: 2px;
    font-weight: 300;
    text-transform: uppercase;
}